<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777981643981-ldptj6io4gtiatanp3recm7911s9up13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777981643981-ldptj6io4gtiatanp3recm7911s9up13</string>
	<key>API_KEY</key>
	<string>AIzaSyA_gIpNmprfI3U5HMe3GcheUE8YvMuiRss</string>
	<key>GCM_SENDER_ID</key>
	<string>777981643981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fyp.lix2.smartCarParkApp</string>
	<key>PROJECT_ID</key>
	<string>fyp-smartcarpark</string>
	<key>STORAGE_BUCKET</key>
	<string>fyp-smartcarpark.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777981643981:ios:758cec0b7cb1cafd89ad84</string>
	<key>DATABASE_URL</key>
	<string>https://fyp-smartcarpark.firebaseio.com</string>
</dict>
</plist>